<button
  type="button"
  class="new-list-btn"
  mat-icon-button
  [routerLink]="['/todos/new']"
  (click)="onToggleSidenav()">
  <mat-icon class="new-list-icon">add</mat-icon>
</button>
<div *ngIf="authenticated" class="sidenav-list-container">
  <div *ngFor="let list of todoLists" class="sidenav-list-item">
    <a class="sidenav-list-link" [routerLink]="['/todo', list.id]" (click)="onToggleSidenav()">{{ list.title }}</a>
    <button
      class="delete-list-btn"
      mat-icon-button
      (click)="onDeleteList(list.id)">
      <mat-icon class="delete-list-icon">delete</mat-icon>
    </button>
  </div>
</div>
