<mat-toolbar color="primary">
  <button type="button" mat-icon-button (click)="onToggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <a class="title-link" routerLink="/">
    <h1 class="mat-h3 app-title">Another To-Do App</h1>
  </a>
  <div class="nav-links">
    <a [routerLink]="" [queryParams]="{auth: 'sign_in'}" class="nav-links-item">Sign In</a>
    <a href="#" class="nav-links-item">Log Out</a>
    <a [routerLink]="" [queryParams]="{auth: 'sign_up'}" class="nav-links-item">Sign Up</a>
  </div>
</mat-toolbar>
