<!-- form displayed (edit mode) -->
<div class="list-edit-form-container" *ngIf="edit">
  <form class="list-edit-form" [formGroup]="todoEditForm" (ngSubmit)="onSaveEditList(todoEditForm)">
    <mat-form-field appearance="outline">
      <mat-label>List Title</mat-label>
      <input matInput value="{{ list.title }}" formControlName="title">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>List Description</mat-label>
      <textarea matInput value="{{ list.description}}" formControlName="description"></textarea>
    </mat-form-field>
    <button type="submit">Save</button>
  </form>
  <button (click)="onCancelEditList()">Cancel</button>
</div>

<!-- content displayed (not edit mode) -->
<div class="list-container" *ngIf="!edit">
  <div class="list-title-desc" *ngIf="list">
    <h2>{{ list.title }}</h2>
    <p>{{ list.description }}</p>
  </div>
  <div class="list-items" *ngIf="listItems">
    <button *ngIf="!newItem" (click)="onNewItem()">New Item</button>
    <div class="new-item" *ngIf="newItem">
      <input
        matInput
        #newItemInput
        type="text"
        (keyup.enter)="onAddItem(newItemInput.value); newItemInput.value = ''">
        <button (click)="onAddItem(newItemInput.value); newItemInput.value = ''">Add</button>
    </div>
    <div class="list-item" *ngFor="let item of listItems">
      <mat-checkbox></mat-checkbox>
      <p>{{ item.description }}</p>
      <!-- <button (click)="onEditItem()">Edit</button> ### maybe unnecessary, revisit later -->
      <button (click)="onDeleteItem(item.id)">X</button>
    </div>
  </div>
</div>

<br>

<button (click)="onEditList()">edit</button>

<button
  *ngIf="list"
  class="delete-list-btn"
  mat-icon-button
  (click)="onDeleteList(list.id)">
  <mat-icon class="delete-list-icon">delete</mat-icon>
</button>
